{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% block styles%}
 
{{ super() }}

<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}"> {% endblock %} {% block content %}

<div class="row">
        <img src="/static/images/blog 1.jpeg" style= "width:100%;">
</div>
<br>
<div class="container-fluid" style="font-family: 'Russo One', sans-serif;">


    <div class="container">
        <div class="content">
            <div class="title-area">

                <h1 style="font-size:6vh;color:rgb(10, 10, 10);opacity:0.5; text-align: center;padding: 40px"> BLOGS</h1>

                <hr>

                <div class="row">
                    <div class="col-md-3">
                        <h3 style="font-size:24px;">Contentment Isn't the Answer to Singleness</h3>
                        <p style="font-size:18px;">What these kinds of thoughts are saying is that feeling content about singleness will solve 
                            my singleness. Pursuing this kind of remedy for a disappointed heart treats contentment as a magical cure for the 
                            "disease" of singleness. Contentment is more like an avenue to get what I want than a beautiful place of peace.
                            The truth is, contentment isn't the answer to singleness. Being content about being single won't solve my problems. 
                            It won't erase all of my desires. It certainly won't get me a relationship in the next couple of days.
                        </p>
                    </div>
                        
                        <br>
                    <div class="col-md-3">    
                        <h3 style="font-size:24px;">Seeking Perfection</h3>
                        <p style="font-size:18px;">Life isn't perfect.
                            We know that we live every day in the imperfection. yet sometimes we still think that somewhere, somehow, life can 
                            be perfect. If we only had that job, boyfriend, or trip. If we only felt rested, beautiful, or successful. If only.
                            I hate to break it to you, but there is no perfection in "if onlys."
                        </p>
                    </div>
                        
                        <br>
                    <div class="col-md-4">
                        <h3>Holding Onto Today</h3>
                        <p style="font-size:18px;">Just so, we can't keep holding onto yesterday or revolve every action upon tomorrow. Rather, 
                            we are called to live faithfully today, in expectant dependence upon God.This is not to say that we shouldn't reflect 
                            and learn from yesterday. I think that reflection is valuable and necessary part of life. But in our reflections, 
                            we must not let yesterday dictate today. We can be tempted to identify "seasons" of our lives and make excuses for today 
                            because "that's just the season of life we're in right now."
                        </p>
                    </div>
                        
                        <br>
                    <div class="col-md-3">
                        <h3>A Little Something Special</h3>
                        <p style="font-size:18px;">There's something about December that makes everything a little something special. The way 
                            the world shines a bit brighter and sounds a bit more cheery. The way friends and family connect over traditions done 
                            every year and yet different each time. The way the house wraps itself in holiday colors. The way Christmas coffee cups 
                            start off the mornings with a bit of festivity.
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}